#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  ntfy-app.service
BindsTo=ntfy.service
After=ntfy.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/ntfy-app.pid %t/ntfy-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/ntfy-app.pid \
    --cidfile %t/ntfy-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/ntfy.pod-id --replace -d --name  ntfy-app \
    --volume ntfy-cache:/var/cache/ntfy \
    --volume ntfy-app:/etc/ntfy \
    ${NTFY_IMAGE} serve
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/ntfy-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP ntfy-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/ntfy-app.ctr-id
PIDFile=%t/ntfy-app.pid
Type=forking

[Install]
WantedBy=default.target
